<h1>Be Adventurous</h1>

<div class="row">
<%= react_component('SFPosts', sfposts: @sf_posts) %>
</div>
<div class="row">
  <%= react_component('Inspiration', inspiration: @inspiration) %>
</div>
<div class="row">
  <%= react_component('Wellness', wellness: @wellness) %>
</div>
