<h1>Be Adventurous</h1>

<div class="row valign-wrapper">
<%= react_component('SFPosts', sfposts: @sf_posts) %>
<%= react_component('Inspiration', insiration: @inspiration) %>
<%= react_component('Wellness', wellness: @wellness) %>
</div>
